/* Global styling ======================================= */

body {
  font-size: 16px;
}

.invisible {
  display: none;
}

/* Layout styling ======================================= */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 47%;

  background-image: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);

  height: 100%;
  padding: 6em;
  margin: 5em 3em;
}

.form {
  padding: 2.5em;
  border-radius: 10px;
  background-color: white;
}

.column {
  width: 47%;
}

button,
input {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

input {
  height: 3rem;
  text-indent: 2em;
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: 600;
  color: hsl(249, 10%, 26%);
}

input:focus,
input:hover {
  border-color: black;
}

button {
  border: none;
  cursor: pointer;
}

.button__trial {
  color: white;
  background-color: hsl(248, 32%, 49%);
  font-size: 1.1rem;
  padding: 0.75em 2em;
}

.button__submit {
  color: white;
  background-color: hsl(154, 59%, 51%);
  font-size: 1.05rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  padding: 0.75em 1em;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

.form,
.button__trial {
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

/* Typography styling ======================================= */

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  color: white;
}

p {
  color: hsl(246, 25%, 90%);
}

.p__terms {
  font-size: 0.75rem;
  color: hsl(246, 25%, 77%);
  text-align: center;
}

.a__terms {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
  font-weight: 700;
}

.warning {
  font-size: 0.75rem;
  color: hsl(0, 100%, 74%);
  margin-left: 1em;
  margin-top: -1.5em;
  margin-bottom: 1em;
}

/* Media Query styling ======================================= */

/* Tablet 800 x 600 */
@media all and (max-width: 1000px) {
  .container {
    margin: 0;
    padding: 2.5em;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 500;
  }

  .button__submit {
    font-size: 0.9rem;
    padding: 1.25em 0.5em;
  }
}

/* Up to tablet portrait 600 x 800 */
@media all and (max-width: 800px) {
  .container {
    flex-direction: column;
    margin: 0;
    padding: 2em 1.5em;
  }

  .column {
    width: 100%;
    text-align: center;
    margin: 2em 0;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }

  .p__terms {
    font-size: 0.65rem;
  }

  .form {
    padding: 1.25em;
  }

  input {
    text-indent: 1rem;
  }

  button {
    border-radius: 5px;
  }

  .button__trial {
    padding: 0.75em 2em;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .button__submit {
    font-size: 0.9rem;
    padding: 1.25em 0.5em;
  }
}

/* Footer styling ======================================= */

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
